<article class="info">
	<h1>Let's stand together for animal rights</h1>
	<p>It's time to take action on animal rights. Around the world,
		animals are subjected to cruelty and denied even the most basic considerations.
		The same rights that we believe to be unalienable for humans should be protected for animals as well.
		And it is up to us to make it happen.
		<br /><br />
		Every animal, from the smallest mouse to the largest elephant,
		has value and the right to a long, happy, healthy life free of suffering.
		Every living creature deserves to have its basic needs met -- adequate food and water and comfortable living conditions.
		But most of all, every animal deserves a life protected from inhumane treatment and suffering.
		It is time to stand together, advocate for animal rights, and make our voices heard.</p>
		<br />
</article>
