<div class="hamburger" onclick="myFunction(this)">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

<!-- it shows on mobile devices -->
<nav class="nav flexContainer">
	<a href="/">HOME</a>
	<a href="/profile/edit">EDIT PROFILE</a>
</nav>

<!-- it shows on desktop devices -->
<nav class="navFullWith ">
	<a href="/">HOME</a>
	<a href="/profile/edit">EDIT PROFILE</a>
	<!-- <a href="/login">LOGIN</a> -->
	<!-- <a href="/logout">LOGOUT</a> -->
	<!-- <a href="/profile">PROFILE</a> -->
</nav>
{{> navlogin}}
