<div class="hamburger" onclick="myFunction(this)">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

<nav class="nav flexContainer">
	<a href="/">HOME</a>
	<a href="/profile/edit">EDIT PROFILE</a>
	<a href="/login">LOGIN</a>
	<a href="/logout">LOGOUT</a>
	<!-- <a href="/profile">PROFILE</a> -->
</nav>

<nav class="navFullWith ">
	<a href="/">HOME</a>
	<a href="/login">LOGIN</a>
	<a href="/logout">LOGOUT</a>
	<!-- <a href="/profile">PROFILE</a> -->
	<a href="/profile/edit">EDIT PROFILE</a>
</nav>
