
<input id="sig" type="hidden" name="sig">
<input type="hidden" name="_csrf" value="{{csrfToken}}">
<p>Sign Here</p>
<canvas id="canv" class="canv" width="300" height="200"></canvas>
<input class="submit" type="submit" value="Submit">
