
<label for="email"><b>Email</b></label>
<input type="email" name="email" placeholder="Email"/>

<label for="password"><b>Password</b></label>
<input type="password" name="password" placeholder="Password"/>

<input type="hidden" name="_csrf" value="{{csrfToken}}">

<input class="submit" type="submit" value="Submit">
