<label for="first"><b>First name</b></label>
<input type="text" name="first" placeholder="First name"/>

<label for="last"><b>Last name</b></label>
<input type="text" name="last" placeholder="Last name"/>

<label for="email"><b>Email</b></label>
<input type="email" name="email" placeholder="Email"/>

<label for="password"><b>Password</b></label>
<input type="password" name="password" placeholder="Password"/>


<input type="hidden" name="_csrf" value="{{csrfToken}}">

<input class="submit" type="submit" value="Submit">


<p>You already have an account, then <a href="/login"> login</a> here</p>
