body {
    margin: 0;
    font-family: sans-serif;
    color: black;
    background-color: #666362;
}
h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}
a {
    text-decoration: none;
    color: #f23232;
    cursor: pointer;
}
/* -------------------- flex layout ----------------------------- */
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
canvas {
    background-color: white;
    object-fit: contain;
}
/*
*/
/* ----------------------- navigation ----------------------------*/
.navbar {
    justify-content: space-between;
    display: flex;
    background-color: #f23232;
}
.navbar a {
    /* display: block; */
    color: white;
    text-align: center;
    padding: 14px 16px;
}
nav a:hover {
    background-color: #d61d1d;
    color: white;
}
.navFullWith {
    display: none;
}
.serviceMenu {
    display: none;
}
/* --------------------------- header -------------------------------*/
.hero {
    color: white;
}
.info {
    padding: 1em;
}
.hero img {
    /* width: 100%; */
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
}
/* ------------------------ form area -------------------------------*/
.main {
    background-color: #444140;
    color: white;
    padding: 1em;
}
.main a {
    /* color: white; */
}
.canvas {
    background-color: white;
    object-fit: contain;
}
.thanks a {
    /* align-content: space-between;
    height: 100%; */
    margin-top: 1em;
}

.link {
    /* color: white; */
}
/* ---------------------------- form styles --------------------- */
form {
    display: flex;
    flex-wrap: wrap;
}
form > * {
    flex: 1 100%;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
    background-color: #f23232;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 14px 2px 4px;
    cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 16px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* ---------------- info area ------------------ */
.info {
    background-color: #666362;
    color: white;
    padding: 1em;
}
footer {
    width: 100%;
    height: 60px;
    background-color: #666362;
}
/* Hamburger menu */
.hamburger {
    display: inline-block;
    cursor: pointer;
    background-color: #f23232;
    padding: 10px 0;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 1em;
    transition: 0.4s;
    background-color: white;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
/* This applies from 600px onwards */
@media (min-width: 1024px) {
    .flexContainer {
        flex-direction: row;
    }
    .hamburger,
    .nav {
        display: none;
    }
    .navFullWith {
        display: flex;
    }
    .flexContainer > * {
        flex: 1 100%;
    }
    .flex1 {
        flex: 1;
    }
    .flex2 {
        flex: 2;
    }
    /* --------------------------- header -------------------------------*/
    .hero {
    }
    .hero img {
        /* width: 100 */
        /* object-fit: contain; */
    }
    .serviceMenu {
        display: flex;
        float: right;
    }
}
