* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
#box {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: red;
}

/* Ticker */
#container {
    overflow: hidden;
    position: relative;
    height: 3em;
    border-bottom: 2px solid;
}
#ticker {
    position: absolute;
    top: 0.5em;
    left: 100%;
    white-space: nowrap;
}
#ticker a {
    padding-right: 60px;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}
#ticker a:hover {
    color: red;
}
